<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Mood Analyser</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><img src="https://raw.githubusercontent.com/aryamansharma01/Spotify/master/Spotifylogo.png " alt="Spotify icon" width="220" height="70">
                   Mood Analyser</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="presentation">
            <div class="introduction">
                <div class="intro-text">
                    <h1><a><span>Connect your Spotify account</span><span> </h1></a>
                    <p>
                        and see how you're feeling now!
                    </p>
                </div>
                <div class="cta">
                <button class="cta-sign" href="/visual">Mood Visualiser</button>
                <button class="cta-sign" href="/lyrics">Lyrics Analyser</button>
                </div>
            </div>
        </section>
    </main>

</body>
</html>
